[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-lsp-server = {extras = ["pylint"], version = "*"}
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
